In [1]:
from pyspark import SparkConf, SparkContext, SQLContext, HiveContext
from pyspark.sql import SparkSession
import pyspark
import os

In [2]:
conf = SparkConf() \
    .setAppName("hackaton") \
    .setMaster('spark://localhost:7077') \
    .set("spark.sql.catalogImplementation","hive") \
    .set("spark.jars", "/home/juliotorres/hackaton/postgresql-42.2.10.jar")

In [3]:
sc = SparkContext(conf=conf)
hiveContext = HiveContext(sc)

In [4]:
spark = SparkSession.builder \
    .config("spark.sql.warehouse.dir", "hdfs://localhost:9000/user/hive/warehouse") \
    .config("spark.sql.uris", "thrift://localhost:10000") \
    .enableHiveSupport() \
    .getOrCreate()

In [5]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [6]:
data_path = "/user/juliotorres"

In [7]:
history = hiveContext.read.parquet(data_path+'/history')

In [31]:
hiveContext.registerDataFrameAsTable(history, 'history')

In [12]:
applications      = hiveContext.read.parquet(data_path+'/applications')
vacants           = hiveContext.read.parquet(data_path+'/vacants')
applicationStages = hiveContext.read.parquet(data_path+'/applicationStages')
stages            = hiveContext.read.parquet(data_path+'/stages')
candidates        = hiveContext.read.parquet(data_path+'/candidates')

In [13]:
hiveContext.registerDataFrameAsTable(applications, 'applications')
hiveContext.registerDataFrameAsTable(vacants, 'vacants')
hiveContext.registerDataFrameAsTable(applicationStages, 'applicationStages')
hiveContext.registerDataFrameAsTable(stages, 'stages')
hiveContext.registerDataFrameAsTable(candidates, 'candidates')

In [38]:
hiveContext.sql("""
    select distinct candidate_birthdate
      from history
     limit 100
""").show(5)

+-------------------+
|candidate_birthdate|
+-------------------+
|         1992-02-21|
|         1990-02-05|
|         1977-04-13|
|         1998-05-16|
|         1989-10-28|
+-------------------+
only showing top 5 rows

In [11]:
hiveContext.sql("select * from candidates limit 10").toPandas()

,id,email,first_name,last_name,phone,birthdate,gender,identification_type,identification_number,country_birth,...,profile_description,withow_experience,withow_studies,sectors,title_of_profetion,civil_status,presentation,educational_institution,experience,profession
0,6,6.email@gmail.com,SantiLopez,L,3755544583,1996-09-14,None,0,4481457334,Colombia,...,None,None,None,None,None,None,None,[],[],[]
1,7,7.email@magnetosystem.com,Simon,Hoyos,3122797544,1989-08-12,None,0,428632826,Colombia,...,None,None,None,None,None,None,None,[],[],[]
2,8,8.email@innventto.com,Sebastian,T,3413519737,1991-11-10,None,0,6673576163,Colombia,...,None,None,None,None,None,None,None,[],[],[]
3,1,1.email@gmail.com,SebastianTorres,T,3452305729,1991-11-10,None,1,7892608945,Colombia,...,None,None,None,None,None,None,None,[],[],[]
4,9,9.email@innventto.com,Felipe,Ocampo,3957730014,1994-10-25,None,1,2050188588,Colombia,...,None,None,None,None,None,None,None,[],[],[]
5,11,11.email@innventto.com,Esteban,Ochoa,3839413365,1980-06-16,None,0,9936063922,Colombia,...,None,None,None,None,None,None,None,[],[],[]
6,14,14.email@gmail.com,Ana Milena,García Tavera,3702052459,1994-03-29,female,0,8192842221,Colombia,...,Profesional en Negocios Internacional con alta...,None,None,Negociador Internacional,None,single,https://drive.google.com/file/d/1K_NybQX2EXJY4...,"[{""id"":331688,""institute"":""UNIVERSIDAD SAN BUE...","[{""company"":""FABRICA DE LICORES DE ANTIOQUIA"",...","[{""id"":52222,""record_id"":""2819352_4083539"",""te..."
7,21,21.email@magnetosystem.com,Pablo,Arango,3846539211,1991-03-07,None,0,7071771805,Colombia,...,None,None,None,None,None,None,None,[],[],[]
8,26,26.email@gmail.com,johnatan,roman,3144175337,1988-09-22,male,0,6117813339,Colombia,...,None,None,None,None,None,None,None,[],[],[]
9,32,32.email@gmail.com,Maria Alejandra,Arroyave Duque,3193585185,1994-12-21,female,0,8686730164,Colombia,...,"Profesional en psicología, con experiencia y c...",None,None,None,None,None,None,"[{""id"":812542,""institute"":""Universidad de San ...","[{""company"":""Talenta 365"",""position"":""Consulto...","[{""id"":463457,""record_id"":""5332678"",""test_type..."

In [ ]:
history.limit(20).toPandas()

In [ ]:
candidates.limit(20).toPandas()

```python
hiveContext.registerDataFrameAsTable(stages, 'stages')
hiveContext.registerDataFrameAsTable(vacants, 'vacants')
hiveContext.registerDataFrameAsTable(candidates, 'candidates')
hiveContext.registerDataFrameAsTable(applications, 'applications')
hiveContext.registerDataFrameAsTable(applicationStages, 'applicationStages')
```

In [ ]:
hiveContext.registerDataFrameAsTable(history, 'history')

In [ ]:
hiveContext.sql("show tables").show()

In [ ]:
hiveContext.sql("""
    select count(*) conteo
      from history a
""").show()

In [99]:
candidate_salary_m = hiveContext.sql("""
select percentile_approx(candidate_salary, 0.5) candidate_salary
  from history 
 where candidate_salary is not null
  and 
 """).collect()[0].candidate_salary

candidate_salary_m

900000

In [109]:
history.limit(100).selectExpr(
    """candidate_email      <> '' and candidate_email is not null as candidate_has_email""",
    """candidate_first_name <> '' and candidate_first_name is not null as candidate_has_first_name""",
    """candidate_last_name  <> '' and candidate_last_name is not null as candidate_has_last_name""",
    """candidate_phone      <> '' and candidate_phone is not null as candidate_has_phone""",
    
    """CAST(datediff(
        current_date(), 
        TO_DATE(CAST(UNIX_TIMESTAMP(candidate_birthdate,'yyyy-MM-dd') AS TIMESTAMP))
       )/365 as integer) as age""",
    
    """case when candidate_gender = 'male' then 'm'
            when candidate_gender = 'female' then 'f' 
       else 'u' end as candidate_gender""",
    
    """case when candidate_identification_type is null then 100 
       else candidate_identification_type 
       end candidate_identification_type""",
    
    "candidate_identification_number",
    
    """case when candidate_city <> '' and candidate_city is not null then candidate_city 
       else 'unknow' end as candidate_city""",
    
    """case when candidate_education_level <> '' and candidate_education_level is not null then candidate_education_level 
       else 'unknow' end as candidate_education_level""",
    
    """case when candidate_salary is null then %s 
       else candidate_salary end as candidate_salary""" % candidate_salary_m,
    
    """case when candidate_profile_description is null then ''
       else candidate_profile_description end as candidate_profile_description""",
    
    """case when candidate_withow_experience is null then false
       else candidate_withow_experience end as candidate_withow_experience"""
    
) \
.select("candidate_profile_description") \
.where("candidate_profile_description is not null") \
.show(100)

+-----------------------------+
|candidate_profile_description|
+-----------------------------+
+-----------------------------+

In [ ]:
candidate_salary_m = hiveContext.sql("""
select candidate_profile_description
  from history 
 where candidate_profile_description is not null
 limit 10
 """).show()

In [70]:
hiveContext.sql("""
    select *
      from history a
     where candidate_email is not null
     limit 100
""").toPandas().columnsmns

Index(['candidate_id', 'candidate_email', 'candidate_first_name',
       'candidate_last_name', 'candidate_phone', 'candidate_birthdate',
       'candidate_gender', 'candidate_identification_type',
       'candidate_identification_number', 'candidate_country_birth',
       'candidate_city', 'candidate_education_level', 'candidate_salary',
       'candidate_profile_description', 'candidate_withow_experience',
       'candidate_withow_studies', 'candidate_sectors',
       'candidate_title_of_profetion', 'candidate_civil_status',
       'candidate_presentation', 'candidate_educational_institution',
       'candidate_experience', 'candidate_profession', 'application_id',
       'application_vacant_id', 'application_candidate_id',
       'application_created_at', 'application_status',
       'application_register_type', 'vacant_id', 'vacant_title',
       'vacant_description', 'vacant_salary_type', 'vacant_min_salary',
       'vacant_max_salary', 'vacant_status', 'vacant_created_at',
       'vacant_company', 'vacant_education_level', 'vacant_agree',
       'vacant_requirements', 'vacant_publish_state', 'vacant_confidential',
       'vacant_expiration_date', 'vacant_experience_and_positions',
       'vacant_knowledge_and_skills', 'vacant_titles_and_studies',
       'vacant_number_of_quotas', 'applicationStage_id',
       'applicationStage_stage_id', 'applicationStage_application_id',
       'applicationStage_created_at', 'applicationStage_status', 'stage_id',
       'stage_title', 'stage_send_sms', 'stage_send_email', 'stage_send_call',
       'stage_created_at', 'stage_status', 'stage_discard_type'],
      dtype='object')

In [ ]:
hiveContext.sql("""
    select *
      from history a
     limit 10
""").toPandas()